/* Empty. Add your own CSS if you like */
.origin {
	font-size: 14px;
	color: #111;
}
.color-green {
	color: green;
}
.color-orange {
	color: orange;
}
.color-red {
	color: red;
}
.text-bold {
	font-weight: bold;
}
#map-canvas {
	height: 200px;
}
.random {
	font-size: 50px;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	margin: 5px;
}